
body {
 background: url('https://www.switchingtomac.com/wp-content/uploads/2022/01/Featured-How-to-Reset-macOS-Monterey-to-Factory-Default-Settings.jpg') no-repeat center center fixed;
  background-size: cover; 
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}


.container {
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px black;
  text-align: center;
}


h1 {
  margin-bottom: 20px;
  color: rebeccapurple;
  font-style: italic;
}


input {
  width: 250px;
  padding: 10px 12px;
  margin-right: 8px;
  border: 1px solid white;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: blue;
  box-shadow: 0 0 5px rgb(141, 141, 222);
}

button {
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  background: skyblue;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0056b3;
}


.error {
  color: red;
  margin-top: 12px;
  font-weight: 500;
}

.success {
  color: green;
  margin-top: 12px;
  font-weight: 500;
}


ul {
  text-align: left;
  margin-top: 20px;
  padding-left: 20px;
}

ul li {
  background: white;
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 6px;
  list-style: none;
  transition: 0.3s;
}

ul li:hover {
  background: #e8d2d2;
}
